* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.header {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #212121;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    color: #cccccc;
}

.search-form {
    margin: 0 50px 0 auto;
    display: flex;
    align-items: center;
}

.search-form__input {
    padding: 0 5px;
    height: 24px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.search-form__btn {
    border: none;
    margin-left: 10px;
    background-color: transparent;
}

.fa-search {
    font-size: 24px;
    color: #cccccc;
}

.btn-cart {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    color: #212121;
    cursor: pointer;
}

.no-data {
    display: block;
    font-size: 22px;
    text-align: center;
}

.cart {
    position: relative;
}

.cart-menu {
    padding: 20px;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    content: "";
    width: 500px;
    border-radius: 5px;
    background-color: #fafafa;
    opacity: .97;
}

.cart-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-item:last-child {
    margin-bottom: 0;
}

.btn-cart.active ~ .cart-menu {
    display: block;
}

.btn-cart:hover {
    background-color: #cccccc;
}

.products {
    margin: 50px 0 0 0;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.product-item {
    display: flex;
    flex-direction: column;
}

.product-item__title,
.product-item__price,
.buy-btn {
    margin-top: 20px;
}

.buy-btn {
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #cccccc;
}

.remove-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
